# nasm to bin mapping for gdb
*.lst

# gdb


# Compiled Object files
*.o

# Executables
*.exe
*.out
*.app

# archives
*.gz

# sublime
*.sublime-project
*.sublime-workspace

# executables
excercise
wyk_prog_01
